@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
#sms {
  font-family: 'Roboto', sans-serif; /* Fallback font */
  font-size: 16px; /* Tamaño de fuente */
  color: royalblue; /* Color del texto */
  line-height: 1.5; /* Altura de línea */
  margin-bottom: 20px; /* Margen inferior */
  font-weight: bold;
}
